body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    border: 5px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 50px rgba(28, 1, 1, 0.349);
    border-color: black;
  }
  
  #display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-gap: 10px;
    border-color: black;
    border: 2px solid #ccc;
    padding: 1.1rem;
  }
  
  button {
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    background: #e0e0e0;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background: #d5d5d5;
  }
  